{% extends "register/base_login.html" %}

{% block content %}

{% if user.is_authenticated %}

<p>{{user.email}}</p>
<p>あなたの職業は：{{ user.occupation }}</p>
<a href="{% url 'chat:index' %}">チャット</a>

<p>あなたの職業に関連したチャットルーム</p>
{% for room in rooms %}
<div>
    <a href="{% url 'chat:room' room.pk %}">{{ room.name }}</a>

</div>
{% endfor %}

<p>その他のチャットルーム</p>
{% for room in other_rooms %}
<div>
    <a href="{% url 'chat:room' room.pk %}">{{room.name}}</a>
</div>
{% endfor %}
{% else %}

<p class="test">ここに、好きな内容を入れる。</p>


{% endif %}

{% endblock %}